*{
  background: var(--background);

}
body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#start{
  margin-top: 10px;
  border: none;
  background: var(--style-color);
  color: var(--font-color);
  height: 35px;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
}
#profile{
  color: var(--font-color);
}
.load-mathmaking{
  margin-top: 25px;
  color: var(--font-color);
}
